@page
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@{
    ViewData["Title"] = "Scan Status";
}

<div class="text-center">
    <h1 class="display-4">There was a problem starting the scan, check docker logs</h1>
</div>
